# Ambiente virtual
.venv/
env/
venv/

# Cache de bytecode do Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter e VS Code
.ipynb_checkpoints
.vscode/

# Dados locais e arquivos de saída
#data/raw/
#data/processed/
#output/
*.fits
*.csv
*.h5
*.parquet

# Logs e arquivos temporários
*.log
.DS_Store